

.container-wishList .section-wishList .wishList-item {
   padding: 5px;
}
.container-wishList .section-wishList .wishList-item p {
   margin: 0;
   font-size: 14px;
}

.container-wishList .section-wishList .image-wishList {
   width: 60px ;
   height: 60px;
}
.container-wishList .wishList-item:hover {
   background-color: rgb(222, 219, 219) !important;
}
.container-wishList .wishList-item:hover button {
   background-color: rgb(78, 77, 77) !important;
   color: white !important;
}
















.container-cart .section-cart .cart-item:hover .inner-cart-item   {
   transform: translateX(-20px);
   -webkit-transform: translateX(-20px);
   -moz-transform: translateX(-20px);
   -ms-transform: translateX(-20px);
   -o-transform: translateX(-20px);

   transition: var(--main-transition);
   -webkit-transition: var(--main-transition);
   -moz-transition: var(--main-transition);
   -ms-transition: var(--main-transition);
   -o-transition: var(--main-transition);
}

.container-cart .section-cart .cart-item .btn-remove {
   width: 30px;
   height: 25px;
   top: 50%;
   right: 40px;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   opacity: 0;
}


.container-cart .section-cart .cart-item:hover .btn-remove {
   right: 10px;
   opacity: 1;
   transition: var(--main-transition);
   -webkit-transition: var(--main-transition);
   -moz-transition: var(--main-transition);
   -ms-transition: var(--main-transition);
   -o-transition: var(--main-transition);
}








   /*! Mobil Screen */
   @media (max-width: 767px) {
      .container-cart .section-cart .cart-item p {
         font-size: 12px;
      }
   }